body {
    background-color: lightgray;
}

.container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    
}
  
.container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    
}

#Action {
    width: 150px;
}
#Nr {
    width: 70px;
}

button.btn.btn-success   {
    width: 78px;
    margin-left: 12px;
}